/* Register.css */
.register-container {
   
    height: 100vh;
    background-image: url('/register_bg.jpg'); /* Add your image path here */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    color: #f8f8f9;
}

.register-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 30vw;
    padding-top: 35vh;

}

.register-input {
    margin: 10px 0;
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(16, 31, 66);
}

.register-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    margin-left: 50px;

}

.register-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.register-message {
    margin-top: 10px;
    color: red;
}

.sign-up{
    color: #dae4ec;
    cursor: pointer;
}