/* show-orders.css */

.home-orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.order-item {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-item p {
    font-size: 18px;
    color: #333;
    margin: 0;
}

.order-item span {
    font-size: 16px;
    color: #666;
}

.item {
    margin: 10px 0;
}

.item-detail {
    font-size: 14px;
    color: #555;
}

.item-detail span {
    margin-right: 5px;
}

#date{
    font-size: 14px;
    color: #666;
}